body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
:root{
  --cinza: #D0DFE6;
  --lilas: #bc33a3e8;
  --azulClaro: #1794A5;
  --azulEscuro: #032030;
  --branco: #f2f2f2;
  --preto: #1a1a1a;
}
/* Estilos da página index.html */
.center{
  text-align: center;  
  padding: 5px;
}
.justify{
  text-align: justify;
}
.cursiva{
  font-family: 'Pacifico', cursive;
  color: var(--lilas);
}

.container{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  
}
nav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* quando necessário chamar uma das variaveis, usar a sintaxe "var(--variavel)" */
nav p {
  font-size: 2rem;
  font-weight: 800;
  color: var(--azulEscuro);
}

nav p span {
  color: var(--lilas);
}
.menu{
  display: flex;
  text-decoration: none; 
}
.menu li {
  display: inline;
  padding: 1.5rem;

}
.menu li a {
  text-decoration: none; 
}
.menu li a:hover{
  color: var(--branco);
  background-color: var(--lilas);
  border-radius: 5px;
  padding: 5px;
  width: 30px;
}
.p-30{
  padding: 30px;
}

#imgperfil{
  max-width: 15vw;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px double var(--lilas);
}
.video-viagem{
  width: 90vw;
}
.redesociais{
  display: flex;
  justify-content: center;
  align-items: center;
}
.redesociais img{
  display: flex;
  width: 30px;
  margin: 5px;
  
}
.mb-30{
  margin-bottom: 30px;
}
footer p {
  color: var(--lilas);
  font-size: 16px;
}

/* Estilos da página contato.html */
.ml-50{
  margin-left: 50px;
}
.mapa {
  width: 100%;
  aspect-ratio: 16/12;
  border-radius: 8px;
  border: 3px solid var(--azulClaro);
}
.space{
  border: 2px solid red;
  display: flex;  
  flex-direction: column; 
   
  gap: 8px;
}

.space input{
  width: 96% !important;
  padding: 8px;
  
}
